/* header showcase contact us*/

header.showcase-contact-us {
  width: 100%;
  height: 400px;
  background: url("../assets/contact-bg.svg") no-repeat;
  background-size: contain;
  background-position: right center;
  margin-bottom: 4rem;
}

header.showcase-contact-us .content {
  width: 60%;
}

header.showcase-contact-us h2 {
  font-size: 2.4em;
}

header.showcase-contact-us p {
  margin: 1rem 0;
}

/* LOCATION */

.location {
  margin-bottom: 3rem;
}

.location span {
  padding: 1rem 1rem 0 1rem;
  font-size: 0.8rem;
  text-align: center;
  display: block;
}

/* CONTACT US FORM */

.form {
  width: 50%;
}

.form label {
  padding: 1rem;
  font-size: 1rem;
}

.form label {
  display: block;
}

.form textarea {
  resize: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form input[type="text"],
.form input[type="email"],
textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  padding: 1rem 1.5rem;
  border: 2px solid #bdbdbd;
  border-radius: 2rem;
  outline: none;
  width: 100%;
  font-size: 1rem;
  color: #212121;
  margin: 0.8rem 0;
}

input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 1px 3px rgba(25, 118, 210, 0.12),
    0 1px 2px rgba(25, 118, 210, 0.24);
  border: 2px solid #1976d2;
}

.form button {
  cursor: pointer;
  display: inline-block;
  background: rgb(25, 118, 210);
  background: linear-gradient(
    90deg,
    rgba(25, 118, 210, 1) 0%,
    rgba(33, 150, 243, 1) 62%
  );
  color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 2rem;
  width: 200px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  outline: none;
  border: none;
  width: 100%;
  margin: 1rem 0;
}

.form button:hover {
  background: rgb(25, 118, 210);
}

@media (max-width: 500px) {
  /* CONTACT US HEADER */
  header.showcase-contact-us {
    text-align: center;
    margin-bottom: 3rem;
    background: none;
    height: auto;
  }

  header.showcase-contact-us .content {
    width: 100%;
  }

  /* CONTACT US FORM */

  .form {
    width: 95%;
  }
}
